<!doctype html>
<input name = "Title" id = "Title" class = "" placeholder="Title" value = "{{Title}}"/><br/>
<label for="Body">Body</label><textarea name = "Body" id = "Body" class = "">{{Body}}</textarea><br/>
<input type = "submit" value="submit"/><span><button id="selectButton"  type="button" name="button">Select from old</button></span>
