<!doctype html>
<h1>{{title}}</h1>
<p>{{body}}</p>
<button id="Delete" class ="{{title}}" type="button" name="button">Delete</button>
<button id="Update" class ="{{title}}" type="button" name="button">Update</button>
<button id="Select" type="button" name="button">Select</button>
<button id="Create" type="button" name="button">Create New</button>
