<!doctype html>
<h1 id = "titleName">Select the blog you want to read</h1><br><br>
{{#each myObject}}
    <div class="titlecontainer"><span id ="{{title}}" value = "{{body}}" class="titles">{{title}}</span></div>
{{/each}}
