<!doctype html>
<label for ="name">Title</label> <input name = "Title" id = "Title" class = "" /><br/>
<label for ="email">Body</label> <input name = "Body" id = "Body" class = "" /><br/>
<input type = "submit" value="submit"/>
